 h1 {
  text-align: center ;
  font-family: 'Cormorant SC', serif;
  font-size: 500%;
  line-height: 60px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px wheat;
  box-shadow: #4a2932;
  margin-top: 50px;
  margin-bottom: 40px;

}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;   
}

h3{
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 200%;
margin: 5px;

}
body{
background: #8a3d40;
}
div{
color: #4a2932;
letter-spacing: 1px;
}

p{
font-family: 'Courier New', Courier, monospace;
padding-left: 95px;
}
label{
color: white;
}
form{

}
::placeholder{
color: #a34c50;
}

#post{
float: left;
}

#logout{
float: right;
}


/* input{
margin-left: 20px;
margin-right: 20px;
height: 20px;
text-align: left;
padding: 0;
width: 90%;
} */

button{
height: 40px;
width: 120px;
margin: 0px;
}

#link a{
color: #000000;
text-decoration: none;
font-family: 'Cormorant SC', serif;
font-size: 120%;
letter-spacing: 0px;
}


* {
  margin-left: 5px;
  margin-right: 5px;
}


* {
  box-sizing: border-box;
} 

#myInput {
  background-image: url('https://cdn1.iconfinder.com/data/icons/free-98-icons/32/search-512.png');
  background-position: 12px 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 13px 20px 13px 40px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  height: 50px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 13px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  font-family: 'Times New Roman', Times, serif;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
